html{
	font-family: Poppins;
}

body {
	background-color: black;
	color: #EEE;
}

.header {
	color: orange;
}
.datetime {
	color: white;
	font-size: x-small;
}
#navigation {
/*	background-color: #333;*/
	border-radius: 5px;
}
#navigation a {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	background-color: #333;
	color: white;
	box-shadow: 0 1px 3px rgba(255,255,255,0.12), 0 1px 2px rgba(255,255,255,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#navigation a:hover {
	background-color: orange;
	color: white;
	font-weight: bold;
	box-shadow: 0px 1px 28px rgba(255,255,255,0.25), 5px 5px 10px rgba(255,255,255,0.22);
}

a {
	text-decoration: none;
	color: orange;
}

a:hover {
	color: red;
}

#navigation a {
	margin: 0px 10px;
}

.error {
	color: red;
	font-style: italic;
}

.header {
	text-align: center;
}